//body
//  padding: 50px
.button
  font-weight: bold
  
.center-element
  margin: 0 auto

.empty-list
  color: #c0c0c0

.input-file
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

#file-label
  //border: 1px solid #ddd
  //-webkit-border-radius: 5px
  //-moz-border-radius: 5px
  //border-radius: 5px
  cursor: pointer
  width: 100%
  padding: 2em 5em

#file-label:hover
  background-color: #eeeeee
